{{> menu active="about"}}

<div class="columns is-vcentered">
  <div class="column has-text-centered is-flex is-justify-content-center is-align-items-center" style="height: 100%;">
    <div>
      <h1 class="title">Weather App</h1>
      <p>Monitor latest weather station/readings</p>
    </div>
  </div>
  <div class="column has-text-centered">
    <img src="/assets/imgs/image.png" alt="WeatherTop Logo" class="image" style="max-width: 100%;">
  </div>
</div>