{{> menu}}

<section class="section">
    <div id="station-chart" class="box"></div>
    {{> list-reports}}
    {{> add-report}}
</section>


<script src="/assets/js/main/reports.js" type="module"></script>
