<form class="box" action="/station/{{station._id}}/addreport" method="POST">
    <label class="label">Enter Report Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label">Code</label>
                <input class="input" type="text" placeholder="00" name="code">
            </div>
            <div class="field">
                <label class="label">Temperature</label>
                <input class="input" type="text" placeholder="00.00C" name="temp">
            </div>
            <div class="field">
                <label class="label">Wind Speed</label>
                <input class="input" type="text" placeholder="00.00kMh" name="windSpeed">
            </div>
            <div class="field">
                <label class="label">Wind Direction</label>
                <div class="control">
                    <div class="select">
                        <select name="windDirection">
                            // content loaded dynamically
                        </select>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Pressure</label>
                <input class="input" type="text" placeholder="000hPa" name="pressure">
            </div>
        </div>
    </div>
    <button class="button is-primary" type="submit">Add Report</button>
    
</form>
<button class="button is-danger is-outlined" onclick="location.href='/station/{{station._id}}/autogenerate'">Auto
    Generate Report</button>
