<form action="/dashboard/addstation" method="POST" class="box">
<p>Add Station</p>
    <div class="field is-grouped">
        <input class="input" type="text" placeholder="Station Name" name="name" style="margin-right: 8px;">
        <input class="input" type="text" placeholder="Latitude" name="latitude" style="margin-right: 8px;">
        <input class="input" type="text" placeholder="Longitude" name="longitude" style="margin-right: 8px;">
        <button class="button is-primary">Add Station</button>
    </div>
</form>