<footer class="footer has-background-light">
  <div class="content has-text-centered">
    <p>
    &copy; {{currentYear}} <strong>WeatherTop</strong>. All rights reserved.
    </p>
<p class="is-size-7">
    Built by
    <a href="https://github.com/KristianColville1/setu-web-dev-2" class="has-text-grey has-text-weight-semibold"
        target="_blank" rel="noopener noreferrer">
        Kristian Colville
    </a>
</p>
  </div>
</footer>
