
    {{#each stations}}
    <div class="container-fluid mb-5">
        <div class="box">
            {{>report name=name latitude=latitude longitude=longitude}}
            <hr />
            <div class="is-flex is-align-items-center">
                <a href="/station/{{_id}}" class="button">
                    {{>icons/open}}
                </a>
                <a href="/dashboard/deletestation/{{_id}}" class="button">
                    {{>icons/delete}}
                </a>
            </div>
        </div>
    </div>
    {{/each}}