<!DOCTYPE html>
<html lang="en-IE">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
            content="Whether Top is a weather app that provides real-time weather information and forecasts. Edit your stations and log reports.">
        <meta name="author" content="Kristian Colville">
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#000000">

    <title>{{title}}</title>
    <!-- icons for devices -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/imgs/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/assets/imgs/android-chrome-512x512.png">
    <link rel="icon" type="image/x-icon" href="/assets/imgs/favicon.ico">

    <!-- stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="/assets/css/global.css">

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="/assets/js/main/weather.js" type="module"></script>
    <script src="/assets/js/main/navbar.js" type="module"></script>
</head>

<body class="container-fluid" style="min-height: 100vh; display: flex; flex-direction: column;">
    <div class="container" style="flex: 1 0 auto;">{{{body}}}</div>
    {{> footer}}
</body>

</html>